.Grasses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to the left for scrolling */
  width: fit-content; /* Ensure wrapper is wide enough for the grid */
  margin: auto; /* Re-add margin: auto */
  .grasses-wrapper {
    display: grid;
    grid-template-columns: repeat(53, 10px);
    grid-template-rows: repeat(7, 10px);
    grid-auto-flow: column;
    gap: 2px;
  }

  .grass {
    width: 10px;
    height: 10px;
    background-color: #ebedf0;
    border: 1px solid rgba(27, 31, 35, 0.06);
    border-radius: 2px;
    &.level-0 {
      background-color: #ebedf0;
    }
    &.level-1 {
      background-color: #9be9a8;
    }
    &.level-2 {
      background-color: #40c463;
    }
    &.level-3 {
      background-color: #30a14e;
    }
    &.level-4 {
      background-color: #216e39;
    }
  }

  .grasses-tips-wrapper {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    gap: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    span {
      margin-left: 4px;
    }
  }
}

.tooltip {
  position: absolute;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}